/*! https://rsms.me/inter/ | SIL OFL */
@font-face {
	font-family: Inter; font-style: normal; font-weight: 400;
	font-display: swap;
	src: url("fnt/Inter-Regular.woff?vsn=3.19") format("woff");
}
@font-face {
	font-family: InterV; font-weight: 100 900; font-style: normal;
	font-named-instance: 'Regular';
	font-display: swap;
	src: url("fnt/Inter-roman.var.woff2?vsn=3.19") format("woff2");
}

html {font-family:Inter,system-ui,sans-serif,"Noto Color Emoji","Apple Color Emoji","Segoe UI Emoji"}
@supports (font-variation-settings:normal) {
	html {font-family:InterV,system-ui,sans-serif,"Noto Color Emoji","Apple Color Emoji","Segoe UI Emoji"}
	* {font-synthesis:none}
}

/*! https://github.com/belluzj/fantasque-sans | SIL OFL */
@font-face {
	font-family: Fantasque;
	src: url("fnt/fsm.woff2?vsn=2") format("woff2"), url("fnt/fsm.woff?vsn=2") format("woff");
}

pre {font:inherit}
code {word-wrap:normal;font-family:Fantasque,monospace;white-space:pre-wrap}

/*! https://kottke.org/plus/type/silkscreen/ | SIL OFL */
@font-face {
	font-family: Slkscr;
	src: url("fnt/slkscr.woff2?vsn=1") format("woff2"), url("fnt/slkscr.woff?vsn=1") format("woff");
}

/*! unrelenting.technology | UNLICENSE.org */
html {
	--𝒷ℊ: #fefefe;
	--𝒻ℊ: #333;
	--𝒻ℊ𝒽: #444;
	--𝓁𝓃: #1160b0;
	--𝒷𝓇𝒹: #eee;
	background: var(--𝒷ℊ);
	color: var(--𝒻ℊ);
}
.z-code .z-comment {color:#666}
.z-code .z-function,.z-code .z-tag,.z-code .z-object {color:#10a080}
.z-code .z-modifier {color:#bb8080}
.z-code .z-keyword,.z-code .z-property-name,.z-code .z-attribute-name {color:#3030bf}
.z-code .z-string {color:#e110ab}
.z-code .z-punctuation {color:#a04040}
@media (prefers-color-scheme:dark) {
	html {
		--𝒷ℊ: #141414;
		--𝒻ℊ: #c4c4c4;
		--𝒻ℊ𝒽: #dadada;
		--𝓁𝓃: #68b1dd;
		--𝒷𝓇𝒹: #353535;
		color-scheme: dark;
	}
	.z-code .z-comment {color:#999}
	.z-code .z-keyword,.z-code .z-property-name,.z-code .z-attribute-name {color:#9090fa}
	img:not(:hover),video:not(:hover) {filter:brightness(.9)}
}

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {margin:0;padding:0}
h1,h2,h3,h4,h5 {color:var(--𝒻ℊ𝒽)}
h1 {font-size:1.69em;font-weight:800}
h2 {font-size:1.4em;font-weight:700}
h3 {font-size:1.25em;font-weight:600}
h4 {font-size:1.1em;font-weight:550}
h5 {font-size:1em;font-weight:500}
*,:after,:before {box-sizing:border-box}
img,video {max-width:100%;height:auto;display:block}
resp-cont {display:block;background-size:cover !important;background-repeat:no-repeat !important;width:100%;position:relative}
resp-cont.has-pad > *,resp-cont.has-pad picture img {position: absolute;top:0;left:0;width:100%;height:100%}
.icon {height:1em;width:1em;margin:0;vertical-align:-.1em;shape-rendering:geometricprecision;fill:currentColor}
input,button,textarea,select {font:inherit;border:1px solid var(--𝒻ℊ𝒽);color:var(--𝒻ℊ𝒽);background:var(--𝒷ℊ);border-radius:3px;padding:.2rem .4rem}
input:focus,button:focus,textarea:focus,select:focus {border-color:var(--𝓁𝓃);box-shadow:0 0 4px var(--𝓁𝓃);outline:none}
button:active {background:rgba(200,200,200,.3)}
html {-webkit-text-size-adjust:100%;font-feature-settings:"kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "case" 1;font-size:16px}
html:focus-within {scroll-behavior:smooth}
body {min-width:300px;min-height:100vh;display:flex;flex-direction:column;justify-content:space-between;font-size:16px;line-height:1.5}
ul,ol {padding-left:2em}
ul {list-style-type:square}
blockquote {border-left:4px solid var(--𝒷𝓇𝒹);padding-left:.5em}

a:link,a:visited {color:var(--𝓁𝓃);text-decoration:none}
a:hover,a:focus {text-decoration:underline}
abbr[title] {text-decoration:underline;text-decoration:underline dotted}

#𝖍𝖊𝖆𝖉𝖊𝖗 {display:flex;justify-content:space-between;align-items:center;box-shadow:0 1px 1px rgba(0,0,0,.02),0 2px 2px rgba(0,0,0,.03),0 4px 4px rgba(0,0,0,.03),0 6px 8px rgba(0,0,0,.04);width:100%;margin:0 auto 1rem;background:var(--𝒷ℊ);z-index:69}
@media screen and (min-height:500px) {
	#𝖍𝖊𝖆𝖉𝖊𝖗 {position:sticky;top:0}
}
@media (prefers-color-scheme:dark) {
	#𝖍𝖊𝖆𝖉𝖊𝖗 {box-shadow:0 1px 1px rgba(100,100,100,.02),0 2px 2px rgba(100,100,100,.03),0 4px 4px rgba(29, 101, 193, 0.03),0 6px 8px rgba(39, 118, 219, 0.06),0 6px 8px rgba(0, 99, 159, 0.14)}
}
#𝖍𝖊𝖆𝖉𝖊𝖗 h1 {font-size:inherit}
#𝖍𝖊𝖆𝖉𝖊𝖗 > *:not(h1) {flex:2;padding:.4rem 1rem}
#𝖍𝖊𝖆𝖉𝖊𝖗 > :last-child {text-align:right}
#𝖍𝖊𝖆𝖉𝖊𝖗 nav a {text-transform:lowercase;white-space:nowrap}
#𝖍𝖊𝖆𝖉𝖊𝖗 nav svg {width:14px;height:14px;margin:0.5px 1px -0.5px 0}
#𝖘𝖎𝖙𝖊𝖓𝖆𝖒𝖊 {font-size:1.15rem;font-weight:666;line-height:1;text-decoration:none;color:#FF8008}
@supports (-webkit-background-clip:text) { /* Firefox supports too */
	#𝖘𝖎𝖙𝖊𝖓𝖆𝖒𝖊 {background:linear-gradient(55deg,#FF8008,#FFC037);-webkit-background-clip:text;-webkit-text-fill-color:transparent;color:transparent}
}
#𝖙𝖆𝖌𝖑𝖎𝖓𝖊 {font-size:.9rem;letter-spacing:-.15px;font-weight:300}
@media screen and (max-width:600px) {
	#𝖍𝖊𝖆𝖉𝖊𝖗 {flex-direction:column;padding-bottom:0.25rem}
	#𝖙𝖆𝖌𝖑𝖎𝖓𝖊 {display:none}
}
@media screen and (min-width:1280px) {
	#𝖍𝖊𝖆𝖉𝖊𝖗 {width:120ch;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
}
main {margin:2rem 1rem}
#𝖋𝖔𝖔𝖙𝖊𝖗 {text-align:center;margin:3rem 1rem;font-size:.9rem}

article {margin:4rem auto}
article h2,article h3,article h4 {margin:2rem auto}
.posthead {margin:2rem auto;text-align:center;max-width:50ch;letter-spacing:.1px}
.article-type-thing,.post-preview,.full-article .my-content,.sub.meta,#𝖛𝖆𝖑𝖕𝖆𝖈𝖐𝖊𝖙𝖙 {margin:2rem auto;max-width:70ch}
#𝖛𝖆𝖑𝖕𝖆𝖈𝖐𝖊𝖙𝖙 {background:#ffe6ab;color:#111;border-radius:4px;padding:1rem}
#𝖛𝖆𝖑𝖕𝖆𝖈𝖐𝖊𝖙𝖙 a {color:#bf0dac;}
.sub.meta p {color:var(--𝒻ℊ𝒽);font-weight:200;text-align:center}
.subhead {font-weight:300;text-align:center;max-width:60ch;font-size:.94em}
.subhead,.my-content > * {margin:2rem auto;word-wrap:break-word;hyphens:auto}
.my-content > :first-child {margin-top:0}
.my-content > pre {background:rgba(245,140,50,.07);padding:1em;border-radius:4px}
.my-content + .mini.meta > * {margin-top:-2rem;font-size:.9em}
.post-preview,.feed-nav {margin:6rem auto}
h1 + .post-preview {margin-top:1rem}
.post-preview {display:flex}
.post-preview > :first-child {margin-right:0.5rem;font-size:.9em}
.post-preview > :last-child {flex-grow:1}
.perma-link .icon {width:1.35em;height:1.35em;margin-top:0.166em}
.article-preview .icon {margin-top:0.5em}

.reply-preview .perma-link {color:#22D0E0}
.like-preview .perma-link {color:#ff91ed}
.repost-preview .perma-link {color:#FF8008}
.bookmark-preview .perma-link {color:#FF8008}
.article-preview .perma-link {color:var(--𝒻ℊ𝒽)}
.note-preview .perma-link {color:#FF8008}
.side-date {display:block;writing-mode:vertical-rl;transform:rotate(180deg)}
@supports (writing-mode:sideways-lr) {
	.side-date {writing-mode:sideways-lr;transform:none}
}

.flippy {transform:scaleX(-1)}
.sidewaysnav {display:flex;justify-content:space-between}
.sidewaysnav svg {width:24px;height:24px;vertical-align:-6.9px}
.chungus {margin:3rem auto;max-width:70ch}
.chungus.inv {display:flex;flex-direction:column-reverse}
.my-content + .chungus:not(.sidewaysnav) {margin-top:5rem}
.chungus.meta {display:grid;grid-template-columns:repeat(auto-fit,minmax(25ch,1fr));gap:3rem 2rem}
.chungus.meta > section {font-size:.95em}
.chungus h1 {font-size:.95em;font-weight:500;margin-bottom:.4em;padding-bottom:.4em;border-bottom:4px solid var(--𝒷𝓇𝒹)}
.chungus.inv h1 {margin-top:.4em;padding-top:.4em;border-top:4px solid var(--𝒷𝓇𝒹);border-bottom:0}
.face-pile {margin:.5rem .5rem .5rem 0;display:inline-block}
.face-pile a {text-decoration:none}
.face-pile img,.cite-pic {width:32px;height:32px;min-width:32px;border-radius:4px;font-size:.5rem;background:linear-gradient(0deg,#FF8008,#FFC037);color:white;overflow:hidden}
.face-pile img {display:inline-block;margin-right:.1rem}
.cite-pic {display:inline;vertical-align:middle}
.comment-cite {margin:1rem auto}
.line-form {display:flex;gap:.5rem;margin:.35rem 0}
.line-form input {flex:1}

.gallery {padding:0;margin:5rem auto 2rem;display:grid;grid-template-columns:repeat(auto-fit,minmax(360px,1fr));grid-template-rows:masonry;gap:2rem}
.gallery li {display:block}

.feed-nav {text-align:center}

@media screen and (min-width:110ch) {
	.full-article .my-content > pre,.full-article .my-content > figure {margin-left:-10ch;margin-right:-10ch}
	.chungus {max-width:90ch}
}
@media screen and (min-width:130ch) {
	.sidewaysbig {height:0}
	.sidewaysbig span {display:none}
	.sidewaysbig svg {width:5ch;height:5ch}
	.sidewaysbig a {position:fixed;top:calc(50vh - 5ch/2);opacity:.6}
	.sidewaysbig a:hover {opacity:1}
	.sidewaysbig a[rel=next] {left:calc(100vw/2 - 90ch/2 - 10ch/2 - 5ch)}
	.sidewaysbig a[rel=prev] {right:calc(100vw/2 - 90ch/2 - 10ch/2 - 5ch)}
}
@media screen and (min-width:1500px) {
	.gallery {max-width:min(90%,150ch)}
}

a.ᵇᵈᵍ {display:inline-flex;align-items:center;width:80px;height:15px;vertical-align:middle;font:8px Slkscr;text-decoration:none;-webkit-font-smoothing:none;image-rendering:pixelated}
.ᵇᵈᵍ.ᶠˣ {border:1px solid #FF7139;color:#EE6129;background:#fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAaBAMAAADRS8i8AAAAJ1BMVEUAAAD/lTW1PeT/rDPmo2n/Yi3/5kT/zjb/qR7/iBzCc6OTUvSwPeTLMnzIAAAABnRSTlMAV2il/v4VjkcFAAABJUlEQVR42mXOP0vDQBgG8KuhqLN/wN3RQZAqgmMhUFwPzCYoOXDKlNdVFHLpKoHcLgr6ES5jQWjzoXzuzV0k6VMo4fe+z92JcS5T5GGLJynnfOxR5/djPx74xfD44HuvvSv17xPt/Io/Kc9736/hh9yJiFTvptbcQXaJKHhkTC2u65fgufcTY8qDyrj9ndM5Bqpzg3383oU4a5EPUkrBI4NorUswZ4U3wacVHFfrm9bniygTYpY4L7V+a0PYZeUKNQq3wX/hEynNsDBffMOnUsrEF5bsq/QxZsc5eA7cDz5TlYkj7IMQHmzg6zRnTwBFQe6fNm4Q4/yZ338uCHmytmn4PRK544Ib/NjG4mb2UCCaL6x1hXXwpMb+0nbBDey+4ZkviLM/tM3qTnWcUQgAAAAASUVORK5CYII=) right center / 22.5px 13px no-repeat;padding:0 22px 0 1px}
.ᵇᵈᵍ.ᶠˣ span:last-of-type {color:#B933E1}
.ᵇᵈᵍ.ᶦʷ {border:1px solid #FF5C01;background:#fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEcAAAAWBAMAAABgTJx+AAAAElBMVEX/mQD/QwD/iAD/XAD/sQD/AABbsdMTAAAABXRSTlMFV5/8/dEbYQcAAADCSURBVHjahdLRDYMwDATQg9D/oCxAVQZw8AKtlBW6/yqtm1iWCYWT+CFP1ikOzrKWcofk9taAmRFYA0zlm2WHEjONaghD+WWHghwZWit6dmhDUjSWFo/wYCYtBTUyapg1QGBDMshGWQTl1nybDPlJ0hqtkkPWqaKlovgXWamMqXWWeDTodVJFr1nikJZSpDlCSSpdoBhEniFdH+BuvEOynQzYqLhHYBZJAGzBHUpZEGCjYo8CKbJH14fk82+8Tzz49wFgG3uh6y1RUwAAAABJRU5ErkJggg==) 1px center / 26px 8px no-repeat;padding:1px 1px 1px 28px}
.ᵇᵈᵍ.ᶦʷ span {flex:1;text-align:center;background:linear-gradient(0deg,#FF5C01,#FFB100);color:#fff}
.ᵇᵈᵍ.ʷᵐ {border:1px solid #850e9a;background:#fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAaBAMAAAAktUMMAAAAGFBMVEX///8pECk1CD1KClNhDHBwDYF+DpKGDpukiR8wAAAACHRSTlMBHz9olsDg/rtKMyMAAAC8SURBVHjaVZArD4NQDIXPHnAtYgl2bhaHncNiCBaHZePx/f1x290QGtLQr73taXWyh852oTiDkknqujbFV1ikhk8CL6BQyXIUwKDAJrcaYFYOezDGdnf7vZmPKQWw2VTx+RbBKku2yoAo46v/8wA8VTN588kUDN7ZC3vYA3hHEFgE/Y7x3XK2C5SsV5BcSGbfPWm2tBUtCTTWoE972wj3x5aDS3EQgMr9AeJ00okz2Pxex+lmSYbdvP1oWD/7mVJQzNaUXQAAAABJRU5ErkJggg==) 1.5px center / 15px 11px no-repeat;padding:1px 1px 1px 17px;}
.ᵇᵈᵍ.ʷᵐ span {flex:1;text-align:center;background:#850e9a;color:#fff}
.ᵇᵈᵍ.ᵐᶠ {border:1px solid #a7cd36;background:#fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAnBAMAAACPhheLAAAAMFBMVEUAAABra2uZmZm7u7vf39/t9Of////N4bfN4n+01I6u0DSizDeXxGSHvkB4r0Fwp0CoBo4LAAAABnRSTlMAN26Pv/XivQtuAAABBElEQVR42m3KL0/DQBjH8RuB6SUk6IUXMY2arml1CbsfhD9BsWEIllcwN0+4F4A4XwVBMdfJYcihCK5H76599my9r/zkK3jHvoHgjRBqtTdG3f2Ta5rz6fLF9zwJtodFWS4b1DJg/6okVB4P0zR72KB2eIC6d0LlEdfWTjeoHfbPLUflcfS4hdojLEcVQx1QclQx1BFUXfy8CPZ6xrCETF3IORbwSUFILZNdXBnTRRPBFcf5gkZTnDS4vqHRYNDgr6TxC6JBCzkL3SEn/EPbRBDa6i1U5ISUWXexiqGJYNUi+Fhj4jD74KPJhg6Pbvn4DeHaxw8b56fCN8aMyjAM2AMr8fQPO5nlgARP3iAAAAAASUVORK5CYII=) 1.5px center / 12.333px 12px no-repeat;padding:1px 1px 1px 16px;letter-spacing:-1px}
.ᵇᵈᵍ.ᵐᶠ span {flex:1;text-align:center;background:#85bc3f;color:#fff}
.ᵇᵈᵍ.ˢʳᶜ {border:1px solid #666;padding:1px}
.ᵇᵈᵍ.ˢʳᶜ span {flex:auto;text-align:center;background:#333;color:#fff}
.ᵇᵈᵍ.ˢʳᶜ span:last-of-type {background:#666}

.burgeoning {animation:pulse 3s infinite ease-out}
@keyframes pulse {
	0% {transform:scale(1)}
	30% {transform:scale(1.3)}
	50% {transform:scale(1.2)}
	100% {transform:scale(1)}
}
