{% import "_media.html" as media %}

{% macro cite_info(ctx) %}
	{% if ctx is object %}
		<a href="{{ ctx.url | safe }}" class="u-url u-uid{% if ctx.name %} p-name{% endif %}">
			{%- if ctx.content and not ctx.name -%}
				a post
			{%- else -%}
				{{ ctx.name | default(value=ctx.url) | truncate(length=256) | safe }}
			{%- endif -%}
		</a>
		{% if ctx.author %}
			by
			{% if ctx.author is object -%}
				<a href="{{ ctx.author.url | safe }}" class="h-card">
					{% if ctx.author.photo -%}
						<img class="u-photo cite-pic" src="{{ ctx.author.photo | safe }}" alt="">
					{%- endif %}
					<span class="p-author">{{ ctx.author.name }}</span>
				</a>
			{%- else -%}
				<a href="{{ ctx.author | safe }}" class="p-author h-card">{{ ctx.author | safe }}</a>
			{%- endif %}
		{% endif %}
		{% if ctx.published %}
			on
			<time datetime="{{ ctx.published }}" class="dt-published">
				{{- ctx.published | date(format="%b %d, %Y %R") -}}
			</time>
		{% endif %}
	{% else %}
		<a href="{{ ctx | safe }}" class="u-url u-uid">
			{{- ctx | truncate(length=256) | safe -}}
		</a>
	{% endif %}
{% endmacro cite_info %}

{% macro cite_content(ctx) %}
	{% if ctx is object and ctx.content and ctx.content.text and not ctx.name %}
		<blockquote class="e-content">
			<p>{{ ctx.content.text | truncate(length=512) }}</p>
		</blockquote>
	{% endif %}
{% endmacro cite_content %}

{% macro pile_cite(ctx, prop) %}
	<a href="{{ ctx.url | safe }}" class="h-cite u-{{ prop }}">
		{% if ctx.author %}
			<span class="p-author h-card">
				<img class="u-photo p-name" src="{{ ctx.author.photo | safe }}" alt="{{ ctx.author.name }}">
			</span>
		{% endif %}
	</a>
{% endmacro pile_cite %}

{% macro cats(entry) %}
	{% for anc in entry.ancestors -%}
		{% set sec = get_section(path=anc, metadata_only=true) -%}
		{% if sec.path != "/" %}
			<a href="{{ sec.path | safe }}" class="p-category" rel="feed" type="text/html">{{ sec.title }}</a>
		{% endif %}
	{% endfor %}
	{% for t, vs in entry.taxonomies -%}
		{% for k in vs -%}
			<a href="/{{ t | safe }}/{{ k | safe }}" class="p-category" rel="feed" type="text/html">#{{ k }}</a>
		{% endfor %}
	{% endfor %}
{% endmacro cats %}

{% macro content(entry) %}
	{% for photo in entry.extra.photo | default(value=[]) %}
		{% if not photo.id or photo.id | length == 0 %}
			{{ media::photo(obj=photo) }}
		{% endif %}
	{% endfor %}

	{% for video in entry.extra.video | default(value=[]) %}
		{% if not video.id or video.id | length == 0 %}
			{{ media::video(obj=video) }}
		{% endif %}
	{% endfor %}

	{{ entry.content | safe }}
{% endmacro content %}

{% macro post_preview(entry) %}
	<article class="h-entry post-preview {% if entry.extra.in_reply_to -%}
				reply-preview
			{%- elif entry.extra.like_of -%}
				like-preview
			{%- elif entry.extra.repost_of -%}
				repost-preview
			{%- elif entry.extra.bookmark_of -%}
				bookmark-preview
			{%- elif entry.title -%}
				article-preview
			{%- else -%}
				note-preview
			{%- endif %}">
		<div>
			<a class="u-url u-uid perma-link" href="{{ entry.permalink | safe }}">
				{% if entry.extra.in_reply_to %}
					{{ util::icon(icon="reply") }}
				{% elif entry.extra.like_of %}
					{{ util::icon(icon="star") }}
				{% elif entry.extra.repost_of %}
					{{ util::icon(icon="megaphone") }}
				{% elif entry.extra.bookmark_of %}
					{{ util::icon(icon="bookmark") }}
				{% elif entry.title %}
					{{ util::icon(icon="pencil") }}
				{% else %}
					{{ util::icon(icon="note") }}
				{% endif %}

				<time datetime="{{ entry.date }}" class="dt-published side-date">
					{{- entry.date | date(format="%b %d, %Y") -}}
				</time>
			</a>
		</div>
		<div>
			{% for ctx in entry.extra.in_reply_to | default(value=[]) %}
				<div class="h-cite u-in-reply-to">In reply to
					{{ content::cite_info(ctx=ctx) }}
					{{ content::cite_content(ctx=ctx) }}
				</div>
			{% endfor %}

			{% for ctx in entry.extra.like_of | default(value=[]) %}
				<div class="h-cite u-like-of">Liked
					{{ content::cite_info(ctx=ctx) }}
					{{ content::cite_content(ctx=ctx) }}
				</div>
			{% endfor %}

			{% for ctx in entry.extra.repost_of | default(value=[]) %}
				<div class="h-cite u-repost-of">Repost of
					{{ content::cite_info(ctx=ctx) }}
					{{ content::cite_content(ctx=ctx) }}
				</div>
			{% endfor %}

			{% for ctx in entry.extra.bookmark_of | default(value=[]) %}
				<div class="h-cite u-bookmark-of">Bookmarked
					{{ content::cite_info(ctx=ctx) }}
					{{ content::cite_content(ctx=ctx) }}
				</div>
			{% endfor %}

			{% if entry.title %}
				<div class="my-content">
					<h1>
						<a href="{{ entry.permalink | safe }}" class="p-name u-url u-uid">{{ entry.title }}</a>
					</h1>

					{% if entry.description %}
						<p class="p-summary">{{ entry.description }}</p>
					{% endif %}

					{% if entry.taxonomies %}
						<div>
							{{ util::icon(icon="tag", title="Tags") }}
							{% for t, vs in entry.taxonomies -%}
								{% for k in vs -%}
									<a href="/{{ t | safe }}/{{ k | safe }}" class="p-category" rel="feed" type="text/html">#{{ k }}</a>
								{% endfor %}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% else %}
				<div class="e-content my-content">
					{{ content::content(entry=entry) }}
				</div>
			{% endif %}
		</div>
	</article>
{% endmacro post_preview %}
