{% extends "layout.html" %}

{% block main %}
	<article class="article-type-thing h-card">
		<data class="u-url u-uid" value="https://unrelenting.technology/"></data>
		<div class="my-content">
			<h1>welcome to unrelenting.technology</h1>
			<p>
				You can interact with posts on this website using your own website,
				if you set up <a href="https://indieweb.org">IndieWeb</a> things on it!
				<small>
				(More specifically, sending <a href="https://webmention.net">Webmentions</a> from <a href="https://indieweb.org/h-entry">h-entry</a> formatted post pages.)
				</small>
			</p>
		</div>

		<div class="h-feed">
			<h1><a href="/posts" class="u-url">Current posts</a></h1>
			{% set posts = get_section(path="notes/_index.md") %}
			{% for page in posts.pages | slice(end=5) %}
				{{ content::post_preview(entry=page) }}
			{% endfor %}
			<div><a href="/posts">read more</a></div>
			<data class="u-author" value="https://unrelenting.technology/"></data>
		</div>
	</article>
{% endblock %}
