{% import "_util.html" as util %}
{% import "_media.html" as media %}
{% import "_content.html" as content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#FF8008">
		{%- if page.description %}
		<meta name="description" content="{{ page.description }}">
		{%- endif %}
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; img-src data: https: 'self'; media-src https: 'self'; script-src 'self'; object-src 'none'; base-uri 'none'">
		<title>{% block title %}{{ config.title | safe }}{% endblock %}</title>
		<link href="{{ util::asset(path="style.css") }}" rel="stylesheet">
		<link href="{{ util::asset(path="favicon.svg") }}" rel="icon">
		<link href="{{ current_url | safe }}" rel="canonical">
		<link href="https://pubsubhubbub.superfeedr.com/" rel="hub">
		<link href="https://granary.io/url?hub=https%3A%2F%2Fpubsubhubbub.superfeedr.com%2F&amp;input=html&amp;output=atom&amp;url={{ config.base_url | urlencode_strict }}" rel="alternate home" type="application/atom+xml">
		<link href="https://granary.io/url?hub=https%3A%2F%2Fpubsubhubbub.superfeedr.com%2F&amp;input=html&amp;output=atom&amp;url={{ current_url | urlencode_strict }}" rel="alternate" type="application/atom+xml">
		<link href="https://granary.io/url?hub=https%3A%2F%2Fpubsubhubbub.superfeedr.com%2F&amp;input=html&amp;output=as2&amp;url={{ current_url | urlencode_strict }}" rel="alternate" type="application/activity+json">
	</head>
	<body{% block bodyattrs %}{% endblock %}>
		<header id="𝖍𝖊𝖆𝖉𝖊𝖗">
			<nav>
				<a href="/notes" rel="feed" type="text/html">{{ util::icon(icon="note") -}}Notes</a>
				<a href="/articles" rel="feed" type="text/html">{{ util::icon(icon="pencil") -}}Articles</a>
				<a href="/kb" rel="feed" type="text/html">{{ util::icon(icon="lightbulb") -}}KB</a>
			</nav>
			<h1>
				<a href="/" rel="home" type="text/html" id="𝖘𝖎𝖙𝖊𝖓𝖆𝖒𝖊">{{ config.title }}</a>
			</h1>
			<div id="𝖙𝖆𝖌𝖑𝖎𝖓𝖊"><noscript>a site that uses javascript for no good reason</noscript></div>
		</header>
		<main>
			<div id="𝖛𝖆𝖑𝖕𝖆𝖈𝖐𝖊𝖙𝖙">
				<strong>Hi!</strong>
				You are viewing the archive of unrelenting.technology.
				This website is no longer updated, my current one is <a href="https://val.packett.cool/">val.packett.cool</a>.
				Check it out instead :)
			</div>
			{% block main %}{% endblock %}
		</main>
		<footer id="𝖋𝖔𝖔𝖙𝖊𝖗">
			<a href="https://www.mozilla.org/en-US/firefox/new/" class="ᵇᵈᵍ ᶠˣ"><span>Get</span><span>Firefox</span></a>
			<a href="https://indieweb.org/" class="ᵇᵈᵍ ᶦʷ"><span>IndieWeb</span></a>
			<a href="https://indieweb.org/Webmention" class="ᵇᵈᵍ ʷᵐ"><span>WebMention</span></a>
			<a href="https://microformats.io/" class="ᵇᵈᵍ ᵐᶠ"><span>Microformats</span></a>
			<a href="https://codeberg.org/valpackett/unrelenting.technology" class="ᵇᵈᵍ ˢʳᶜ"><span>open</span><span>source</span></a>
		</footer>
		<script src="{{ util::asset(path="s.js") }}"></script>
	</body>
</html>
