{% extends "layout.html" %}
{% block bodyattrs %} class="h-entry"{% endblock %}
{% block title %}{{ page.title | default(value="a post from " ~ page.date) }} / {{ super() }}{% endblock %}

{% block main %}
	{% set entry = page %}
	{% set allmentions = load_data(url="https://webmention.io/api/mentions.jf2?domain=unrelenting.technology&token=" ~ get_env(name="WMIO_TOKEN", default="SET_WMIO_TOKEN_YOU_FOOL"), format="json") %}
	{% set mentions = allmentions.children | filter(attribute="wm-target", value="https://unrelenting.technology" ~ entry.path) %}
	{% set replies = mentions | filter(attribute="in-reply-to", value="https://unrelenting.technology" ~ entry.path) %}
	{% set likes = mentions | filter(attribute="like-of", value="https://unrelenting.technology" ~ entry.path) %}
	{% set reposts = mentions | filter(attribute="repost-of", value="https://unrelenting.technology" ~ entry.path) %}
	{% set bookmarks = mentions | filter(attribute="bookmark-of", value="https://unrelenting.technology" ~ entry.path) %}

	<article class="full-article">
		{% if entry.title %}
			<h1 class="posthead p-name">{{ entry.title }}</h1>
			{% if entry.description %}
				<p class="subhead p-summary">{{ entry.description }}</p>
			{% endif %}
			{% if not entry.path is starting_with("/kb/") %}
				<div class="sub meta">
					<p>
						{{ entry.date | date(format="%b %d, %Y") }}
						::
						{{ entry.reading_time }} min read
					</p>
				</div>
			{% endif %}
		{% endif %}

		{% for ctx in entry.extra.in_reply_to | default(value=[]) %}
			<section class="chungus inv h-cite u-in-reply-to">
				<h1>{{ util::icon(icon="reply") }} In reply to {{ content::cite_info(ctx=ctx) }}</h1>
				{{ content::cite_content(ctx=ctx) }}
			</section>
		{% endfor %}

		{% for ctx in entry.extra.like_of | default(value=[]) %}
			<section class="chungus inv h-cite u-like-of">
				<h1>{{ util::icon(icon="star") }} Liked {{ content::cite_info(ctx=ctx) }}</h1>
				{{ content::cite_content(ctx=ctx) }}
			</section>
		{% endfor %}

		{% for ctx in entry.extra.repost_of | default(value=[]) %}
			<section class="chungus inv h-cite u-repost-of">
				<h1>{{ util::icon(icon="megaphone") }} Repost of {{ content::cite_info(ctx=ctx) }}</h1>
				{{ content::cite_content(ctx=ctx) }}
			</section>
		{% endfor %}

		{% for ctx in entry.extra.bookmark_of | default(value=[]) %}
			<section class="chungus inv h-cite u-bookmark-of">
				<h1>{{ util::icon(icon="bookmark") }} Bookmark of {{ content::cite_info(ctx=ctx) }}</h1>
				{{ content::cite_content(ctx=ctx) }}
			</section>
		{% endfor %}


		<div class="e-content my-content">
			{{ content::content(entry=entry) }}
		</div>

		{% for anc in entry.ancestors -%}
			{%- if anc == "photos/_index.md" or anc == "notes/_index.md" or anc == "articles/_index.md" -%}
				{%- set_global showsideways = true -%}
			{%- endif -%}
			{%- if anc == "articles/_index.md" -%}
				{%- set_global nosidewaysbig = true -%}
			{%- endif -%}
		{%- endfor -%}
		{% if showsideways %}
			<nav class="chungus sidewaysnav{% if not nosidewaysbig %} sidewaysbig{% endif %}">
				{% if entry.earlier %}
					<a href="{{ entry.earlier.permalink | safe }}" rel="next">
						{{ util::icon(icon="arrowl", title="Earlier entry") }}
						<span>earlier</span>
					</a>
				{% endif %}
				{% if entry.later %}
					<a href="{{ entry.later.permalink | safe }}" rel="prev">
						<span>later</span>
						{{ util::icon(icon="arrowl", title="Later entry", class="flippy") }}
					</a>
				{% endif %}
			</nav>
		{% endif %}

		<div class="chungus meta">
			<section>
				<h1>{{ util::icon(icon="calendar") }} Published</h1>
				<hammer-time>
					<time datetime="{{ entry.date }}" class="dt-published">
						<a class="u-url u-uid" href="{{ entry.permalink | safe }}" rel="bookmark">
							{{- entry.date | date(format="%b %d, %Y %R") -}}
						</a>
					</time>
				</hammer-time>
			</section>

			{% if entry.updated %}
				<section>
					<h1>{{ util::icon(icon="update") }} Updated</h1>
					<hammer-time>
						<time datetime="{{ entry.updated }}" class="dt-updated">
							{{- entry.updated | date(format="%b %d, %Y %R") -}}
						</time>
					</hammer-time>
				</section>
			{% endif %}

			<section>
				<h1>{{ util::icon(icon="tag") }} Categories and tags</h1>
				{{ content::cats(entry=entry) }}
			</section>

			{% if entry.extra.photo and entry.extra.photo | length == 1 %}
				{%- set thephoto = entry.extra.photo | first -%}
				<section>
					<h1>{{ util::icon(icon="camera") }} Photo information</h1>
					{% if thephoto.focal_length %}
						<span class="camera-focal-length">{{ thephoto.focal_length }} mm</span>
					{% endif %}
					{% if thephoto.iso %}
						<span class="camera-iso">ISO {{ thephoto.iso }}</span>
					{% endif %}
					{% if thephoto.shutter_speed %}
						{%- set x = thephoto.shutter_speed[0] -%}
						{%- set y = thephoto.shutter_speed[1] -%}
						<span class="camera-shutter">
							{%- if x / y >= 0.3 -%}
								{{- x / y | round(precision=2) }}s
							{%- else -%}
								{{- x }}/{{ y -}}
							{%- endif -%}
						</span>
					{% endif %}
					{% if thephoto.aperture %}
						<span class="camera-aperture">ƒ/{{ thephoto.aperture }}</span>
					{% endif %}
					{% for src in thephoto.source | default(value=[]) | filter(attribute="original", value=true) %}
						<p>
							{{ util::icon(icon="download") }}
							<a class="camera-original"
								{% if src.srcset -%}
									{%- set ssthing = src.srcset | first -%}
									href="{{ ssthing.src | safe }}"
								{%- elif src.src -%}
									href="{{ src.src | safe }}"
								{%- endif -%}
							>Download original</a>
						</p>
					{% endfor %}
				</section>
			{% endif %}

			{% if entry.extra.client_id %}
				<section>
					<h1>{{ util::icon(icon="appedit") }} Posted using</h1>
					{% for cid in entry.extra.client_id %}
						<a href="{{ cid | safe }}" class="u-client-id">
							{{- cid | replace(from="http://", to="") | replace(from="https://", to="") | trim_end_matches(pat="/") -}}
						</a>
					{% endfor %}
				</section>
			{% endif %}

			{% if entry.extra.syndication %}
				<section>
					<h1>{{ util::icon(icon="copy") }} Also on</h1>
					{% for syn in entry.extra.syndication %}
						<a href="{{ syn | safe }}" class="u-syndication">
							{{- syn | replace(from="http://", to="") | replace(from="https://", to="") | split(pat="/") | first -}}
						</a>
					{% endfor %}
				</section>
			{% endif %}

			{% if likes %}
				<section>
					<h1>{{ util::icon(icon="star") }} Likes</h1>
					<div class="face-pile">
						{% for ctx in likes %}
							{{ content::pile_cite(ctx=ctx, prop="like") }}
						{% endfor %}
					</div>
				</section>
			{% endif %}

			{% if reposts %}
				<section>
					<h1>{{ util::icon(icon="megaphone") }} Reposts</h1>
					<div class="face-pile">
						{% for ctx in reposts %}
							{{ content::pile_cite(ctx=ctx, prop="repost") }}
						{% endfor %}
					</div>
				</section>
			{% endif %}

			{% if bookmarks %}
				<section>
					<h1>{{ util::icon(icon="bookmark") }} Bookmarks</h1>
					<div class="face-pile">
						{% for ctx in bookmarks %}
							{{ content::pile_cite(ctx=ctx, prop="bookmark") }}
						{% endfor %}
					</div>
				</section>
			{% endif %}
		</div>

		{% if replies %}
			<section class="chungus">
				<h1>{{ util::icon(icon="comment") }} Replies</h1>
				{% for ctx in replies %}
					<div class="h-cite u-comment comment-cite">
						{{ content::cite_info(ctx=ctx) }}
						{{ content::cite_content(ctx=ctx) }}
					</div>
				{% endfor %}
			</section>
		{% endif %}
	</article>
{% endblock %}
